
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<h2> My favorite skill is: {{ myskills }}</h2>
<p> Victor Skill: </p>
<ul>
    <li *ngFor="let skl of skills">
        {{ skl }}
    </li>
    @*<js></js>*@
    
</ul>
<js>

</js>